In [12]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

g_key = 'AIzaSyDnxZhyepCHIKyIR8RPIDPblhFuz6QPljg'

In [13]:
city_data_df = pd.read_csv(r"C:\Users\dakar\cities.csv")
city_data_df.head()

,Unnamed: 0,city,lngs,lats,max_temp,humidity,cloudiness,wind_speed
0,0,Coari,-63.14,-4.08,95.00,31.0,30.0,0.51
1,2,Ostrovnoy,39.51,68.05,52.79,80.0,5.0,10.02
2,3,Mataura,168.86,-46.19,45.00,72.0,65.0,11.01
3,4,Port Macquarie,152.92,-31.43,44.01,81.0,77.0,9.17
4,5,Clyde River,-68.59,70.47,44.40,68.0,2.0,7.78

In [16]:
# Access maps with unique API key
gmaps.configure(api_key=g_key)

# Store 'Lat' and 'Lng' into  locations 
city_locations = city_data_df[["lats", "lngs"]].astype(float)
city_humidity = city_data_df["humidity"].astype(float)

In [17]:

# Create a poverty Heatmap layer
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(city_locations,weights=city_humidity, 
                                 dissipating=False, max_intensity=500,
                                 point_radius = 10)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:

# A max temperature lower than 80 degrees but higher than 70.
# Wind speed less than 10 mph.
# Zero cloudiness.
# Humidity between 50% and 80%.
ideal_city_df = city_data_df.loc[(city_data_df["max_temp"]>70) & 
                                 (city_data_df["max_temp"]<80) &
                                 (city_data_df["wind_speed"]<10) &
                                 (city_data_df["cloudiness"]==0) &
                                 (city_data_df["humidity"]>40) & 
                                 (city_data_df["humidity"]<70)]
#Drop any rows that don't contain all three conditions.
ideal_city_df = ideal_city_df.dropna()
ideal_city_df

,Unnamed: 0,city,lngs,lats,max_temp,humidity,cloudiness,wind_speed
524,580,Galesong,119.37,-5.32,75.20,69.0,0.0,1.12
554,611,Mizdah,12.98,31.45,72.09,62.0,0.0,9.48

In [20]:
hotel_df = ideal_city_df
hotel_df["Hotel Name"] = ""
hotel_df

,Unnamed: 0,city,lngs,lats,max_temp,humidity,cloudiness,wind_speed,Hotel Name
524,580,Galesong,119.37,-5.32,75.20,69.0,0.0,1.12,
554,611,Mizdah,12.98,31.45,72.09,62.0,0.0,9.48,

In [22]:
params = {
    "radius": 5000,
    "type": "lodging",
    "keyword": "hotel",
    "key": g_key
}

# Use the lat/lng to identify hotels
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["lats"]
    lng = row["lngs"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # make request using url
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    name_address = requests.get(base_url, params=params)
    
    # convert to json
    name_address = name_address.json()
    
    try:
        hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
    except (KeyError, IndexError):
        pass
hotel_df

,Unnamed: 0,city,lngs,lats,max_temp,humidity,cloudiness,wind_speed,Hotel Name
524,580,Galesong,119.37,-5.32,75.20,69.0,0.0,1.12,
554,611,Mizdah,12.98,31.45,72.09,62.0,0.0,9.48,فندق بنيه تحتيه

In [24]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["lats", "lngs"]]

KeyError: 'City'